*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif; 

}
/*HEADER -> TITULO E ICONO DE VOLVER ATRÃS*/
header{
    padding: 2%;
    text-align: center;
    background: #A9C6FF;
}
header:first-of-type{
    top: 0;
    margin: auto;
    width: 100%;
    position: fixed;
}
h1{
    font-size: 4vh;
    color:white;
    border-bottom: 1vh solid black;
}
/*Icono de flecha y GIT*/
.imgprinc{
    width:2.5%;
    height:2.5%;
    transition: 0.5s;

}

#logo{
    float:right;
    margin-right: 2%;
    margin-top: -2%;
    width: 5%;
    height: 5%;
}
#casa{
    float:right;
}
.imgprinc:hover{
    filter: drop-shadow(0 2px 5px white);

}
/*Carrusel*/
/* Slideshow container */
.slideshow-container {
    width: 70%;
    position: relative;
    margin: auto;
    margin-top: 5%;
}
.mySlides {
    display: none
}
.slideshow-container img {
    display:block;
    margin:auto;
    height: 500px;

}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}
/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
/*BODY*/
body{
    background: #A9C6FF;
}
:disabled{
    transition: 500ms;
    opacity: 0.5;
}
.erroresR{
    color:red;
}
:enabled{
    transition: 500ms;
}
#volverR{
    width: 20%;
    margin-left: 40%;
    margin-top: 10%;
}
.botones{
    text-align: center;
}
.botones button{
    width: 20%;
    border: none;
    background-color: #e7e7e7; 
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 2vh;
    cursor: pointer;
}
.botones button:hover{
    color:white;
    background-color: black;
    transition-duration: 500ms;
}
.botonesP, .botonesP2{
    margin-top: 10%;
    width: 10%;
}
.botonesP{
    margin-right: 5%;
    float:right; 
}
.botonesP button{
    margin-bottom: 1%;
}
.botonesP2{
    margin-left: 5%;
    float:left;
}
.botonesP2 button{
    border: none;
    background-color: #e7e7e7; 
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 2vh;
    cursor: pointer;
    margin-bottom: 1%;
}

.botonesP2 button:hover{
    color:white;
    background-color: black;
    transition-duration: 500ms;
}
/*BUSCADOR -> FORMULARIO*/
fieldset{
    border:0;
}
.botones{
    text-align: center;
}
.otros{
    font-size: 2vh;
    width: 50%;
    border-radius:10px;
    margin: 4% auto;
    background-color:#ccc;
    margin-top: 10%;
}
.rest{
    margin: 10%;
    margin-right: 1%;
    margin-top: 1%;
    float:left;
    font-size: 2vh;
    width: 35%;
    border-radius:10px;
    background-color:#ccc;
}
.micuenta{
    font-size: 2vh;
    width: 50%;
    border-radius:10px;
    margin: 4% auto;
    background-color:#ccc;
    margin-bottom: 5%; 
}
.rest button{
    margin-top: 1vh;
}
.button{
    border-radius:0;
}
.button:last-of-type{
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.enter[name="edit"]{
    margin: 4% auto;

}
.enter button{
    margin-top: 1vh;
}
.respuesta{
    text-align: center;
    margin: 2vh;
    font-size: 3vh;
    margin-top: 10%;
}
.respuesta button{
    margin: 4vh;
}
form label{ 
    margin-left: 10%;
    width: 20%;
    padding: 2%;
    font-weight:bold;
    display:inline-block;
}
form input{
    font-size: 2vh;
    text-align: center;
    padding:1% 5%;
    margin:2% 0;
    display:inline-block;
}

input:read-only{
    background-color: #EEEDD3;
}
input:read-only:focus:hover{
    border-color: orangered;
    color:orangered;
    background-color: #EEEDD3;
}
input:read-write:focus:hover{
    border-color: #00BA68;
    color:#008508;
}
form input{
    width:50%;
    background-color: white;
    border-radius:3px;
}

.otros input:not(:placeholder-shown){
    background-color: white;
}
#registro input:not(:placeholder-shown){
    background-color: white;
}
input:focus {
    transition:500ms;
    background-color: #FAFBFC;
    outline: 5px;
}
input:placeholder-shown {
    transition:500ms;
    background-color: #FAFBFC;
}
form button{
    width: 100%;
    background-color: black;
    border:none;
    border-radius:5px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
form button[name="editProfile"]:hover{
    background-color: #2C6DA4;
}
form button[name="deleteAccount"]:hover{
    background-color: #B3283F;
}
form button:hover{
    cursor:pointer;
    color:black;
    background: white;
    transition-duration: 500ms;
}
form button[name="Aceptar"]:hover{
    background: #2CA442;
}
form button[name="Aceptar2"]:hover{
    background: #2CA442;
}
form button[name="Cancelar"]{
    background: #A43533;
}
form button[name="rest"]:hover{
    background: #DE7645;
}
form input[name="cambiarPassword"]:hover{
    text-decoration: none;
    cursor:pointer;
    color:white;
    background: grey;
}
#respuestarest{
    text-align: center;
}

#titulorest{
    text-align: center;
    margin: 2%;
    color:white;
    font-weight: bold;
    font-size: 4vh;

}

#fechaR, #nba, #cadena{
    margin-left: 25%;
}
.errores{
    font-size: 2.5vh;
    text-align: center;
    color:red;
    margin:1% auto;
}
.required{
    background-color: #ADB9C5;
}
.required:first-child{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.opciones{
    width: 100%;
    height: 20%;
}
.opciones button{
    margin-left: 5%;
    margin-right: 25%;
    width: 0%;
    border: none;
    padding: 0px 0px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;

}

.opciones img{
    border-radius: 5px;
    opacity: 0.8;
    filter: grayscale(100%);
}
.opciones img:hover{
    filter: none;
    opacity: 1;
    transition: 500ms;
}
/*-----------FOOTER-----------*/

footer{
    font-size: 3vh;
    background: #A9C6FF;
    position: fixed;
    height: 12%;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
#titulofooter{
    color:black;
}
footer ul li{
    margin:2.5%;
    display:inline;
    list-style: none;
    padding-left:3px;
    padding-right:3px;
}
footer ul li img{
    width: 1%;
    height: 1%;
}
footer ul li a{
    text-decoration: none;
    color:  black;
    transition: 300ms;
    border-bottom: solid 1px transparent;
    -webkit-transition: color .2s ease-out, border-bottom-color .2s ease-out;
    -moz-transition: color .2s ease-out, border-bottom-color .2s ease-out;
    -ms-transition: color .2s ease-out, border-bottom-color .2s ease-out;
    -o-transition: color .2s ease-out, border-bottom-color .2s ease-out;
    transition: color .2s ease-out, border-bottom-color .2s ease-out;
}
footer ul li a:hover{
    border-bottom: solid 1px black;
    box-shadow: inset 0 -1.2em 0 hsla(0, 0%, 100%, 0.4);
}
/*RESPONSIVE*/
@media only screen and (max-width: 700px) {
    .botonesP, .botonesP2{
        width: 30%;
    }
    .slideshow-container{
        margin-top: 40%;
        width: 90%;
    }
    .slideshow-container img{
        height: 250px;
    }
    .dot {
        height: 10px;
        width: 10px;
    }
    #logo{
        width: 7%;
    }
    .otros{
        width:80%;
        margin-top: 30%;
    }
    .rest{
        margin: 12%;
        width: 75%;

    }
    .respuesta{
        margin: auto;
        margin-top: 15%;
    }
    .opciones{
        margin-bottom: 10%;
    }
    .opciones button{

        display: flex;
        align-items: center;
    }
    footer{
        height: 10%;
        font-size: 2vh;
    }
    footer ul li{
        padding-left:2px;
        padding-right:2px;
    }
}