*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif; 

}
/*HEADER -> TITULO E ICONO DE VOLVER ATRÁS*/
header{
    padding: 2%;
    text-align: center;
    background: #A9C6FF;
}
h1{
    font-size: 4vh;
    color:white;
    border-bottom: 1vh solid black;
}
header img{
    float:left;

}
/*Icono de flecha y GIT*/
.imgprinc{
    width:2.5%;
    height:2.5%;
    transition: 0.5s;

}

#logo{
    float:right;
    margin-right: 2%;
    margin-top: -2%;
    width: 5%;
    height: 5%;
}
#casa{
    float:right;
}
.imgprinc:hover{
    filter: drop-shadow(0 2px 5px white);

}
#listaopciones{
    border-radius:10px;
    background: black;
    list-style: none;
    margin-top: -32%;
    margin-right: 10%;
    float:right;
    width: 35%;

}
#listaopciones li{
    opacity: 0.8;
    padding: 1%;
    font-weight: bold;
    color:white;
    text-align: center;
    margin:4%;
    font-size: 2vh;
    transition: 500ms;
}
#listaopciones a{
    text-decoration: none;
}
#listaopciones li img{
    width: 0px;
    height: 0px;
}

#listaopciones li:hover{
    opacity: 1;
    background: white;
    color:black;
    padding: 2%;
}
#listaopciones li:hover img{
    width: 50px;
    height: 50px;
}
#listaopciones a:hover{
    text-decoration: none;
}
#listaopciones li img:hover{
    transition: 2s;
    transform: scale(5);
}

/*BODY*/
body{
    background: #A9C6FF;
}
/*BUSCADOR -> FORMULARIO*/
fieldset{
    border:0;

}
.botones{
    text-align: center;
}
.botones button{
    width: 20%;
    border: none;
    background-color: #e7e7e7; 
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 2vh;
    cursor: pointer;
}
.botones button:hover{
    color:white;
    background-color: black;
    transition-duration: 500ms;
}
.enter{
    font-size: 2vh;
    width: 30%;
    border-radius:10px;
    margin: 8%;
    margin-left: 13%;
    background-color:#ccc;
    margin-bottom: 10%;
}
.otros{
    font-size: 2vh;
    width: 50%;
    border-radius:10px;
    margin: 4% auto;
    background-color:#ccc;
    margin-bottom: 10%;
}
.otros button{
   margin-top: 1vh;
}
.enter[name="edit"]{
    margin: 4% auto;

}
.enter button{
    margin-top: 1vh;
}
.respuesta{
    text-align: center;
    margin: 2vh;
    font-size: 3vh;
}
.respuesta button{
    margin: 4vh;
}
form label{ 
    margin-left: 10%;
    width: 20%;
    padding: 2%;
    font-weight:bold;
    display:inline-block;
}
form input{
    font-size: 2vh;
    text-align: center;
    padding:1% 5%;
    margin:2% 0;
    display:inline-block;
}

input:read-only{
    background-color: #EEEDD3;
}
input:read-only:focus:hover{
    border-color: orangered;
    color:orangered;
}
input:read-write:focus:hover{
    border-color: #00BA68;
    color:#008508;
}
form input{
    width:50%;
    background-color: white;
    border-radius:3px;
}
input:not(:placeholder-shown){
    background-color: white;
}
input:focus {
    transition:500ms;
    background-color: #FAFBFC;
    outline: 5px;
}
input:placeholder-shown {
    transition:500ms;
    background-color: #FAFBFC;
}

form button{
    width: 100%;
    background-color: black;
    border:none;
    border-radius:5px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
form button[name="editProfile"]:hover{
    background-color: #2C6DA4;
}
form button[name="deleteAccount"]:hover{
    background-color: #B3283F;
}
form button:hover{
    cursor:pointer;
    color:black;
    background: white;
    transition-duration: 500ms;
}
form button[name="Aceptar"]:hover{
    background: #2CA442;
}
form button[name="Cancelar"]:hover{
    background: #A43533;
}
form input[name="cambiarPassword"]:hover{
    text-decoration: none;
    cursor:pointer;
    color:white;
    background: grey;
}
form input[name="cancelar"]:hover{
    text-decoration: none; 
    cursor:pointer;
    color:black;
    background: red;
}
form input[name="eliminar"]:hover{
    text-decoration: none;
    background-color:red;
}
.errores{
    font-size: 2.5vh;
    text-align: center;
    color:red;
    margin:1% auto;
}
.required{
    background-color: #ADB9C5;
}
.required:first-child{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}


/*-----------FOOTER-----------*/

footer{
    font-size: 3vh;
    background: #A9C6FF;
    position: fixed;
    height: 10%;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
#titulofooter{
    color:black;
}
footer ul li{
    margin:2%;
    display:inline;
    list-style: none;
    padding-left:3px;
    padding-right:3px;
}
footer ul li img{
    width: 1%;
    height: 1%;
}
footer ul li a{
    text-decoration: none;
    color:  black;
    transition: 300ms;
    border-bottom: solid 1px transparent;
    -webkit-transition: color .2s ease-out, border-bottom-color .2s ease-out;
    -moz-transition: color .2s ease-out, border-bottom-color .2s ease-out;
    -ms-transition: color .2s ease-out, border-bottom-color .2s ease-out;
    -o-transition: color .2s ease-out, border-bottom-color .2s ease-out;
    transition: color .2s ease-out, border-bottom-color .2s ease-out;
}
footer ul li a:hover{
    border-bottom: solid 1px black;
    box-shadow: inset 0 -1.2em 0 hsla(0, 0%, 100%, 0.4);
}